################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication/.vs
/WebApplication/packages
/WebApplication/WebApplication16/bin
/WebApplication/WebApplication16/obj/Debug
/FirstEF/.vs
/FirstEF/FirstEF/bin
/FirstEF/FirstEF/obj/Debug
/FirstEF/packages
/WebApplication/WebApplication16/obj/Release
/FirstEF/FirstEF/App_Data
/FirstEF/FirstEF/obj/Release
/SoccerApp/.vs
/SoccerApp/packages
/SoccerApp/SoccerApp/App_Data
/SoccerApp/SoccerApp/bin
/SoccerApp/SoccerApp/obj/Debug
/IdentityApp/.vs
/IdentityApp/IdentityApp/App_Data
/IdentityApp/IdentityApp/bin
/IdentityApp/IdentityApp/obj/Debug
/IdentityRoles/.vs/IdentityRoles
/IdentityRoles/IdentityRoles/App_Data
/IdentityRoles/IdentityRoles/bin
/IdentityRoles/IdentityRoles/obj/Debug
/IdentityRoles/packages
/WebShop/.vs
/WebShop/packages
/WebShop/WebShop/App_Data
/WebShop/WebShop/bin
/WebShop/WebShop/obj
/packages
/WebApi/.vs/WebApi
/WebApi/WebApi/bin/Debug/netcoreapp2.1
/WebApi/WebApi/obj
/WebWithTests/bin
/WebWithTests/obj/Debug
/WebWithTests.Tests/bin/Debug
/WebWithTests.Tests/obj/Debug
/WebApiClient/.vs/WebApiClient/v16
/WebApiClient/WebApiClient/bin/Debug/netcoreapp2.1
/WebApiClient/WebApiClient/obj
/NpgsqlProject/.vs/NpgsqlProject
/NpgsqlProject/NpgsqlProject/bin/Debug/netcoreapp3.0
/NpgsqlProject/NpgsqlProject/obj
