################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication/.vs
/WebApplication/packages
/WebApplication/WebApplication16/bin
/WebApplication/WebApplication16/obj/Debug
/FirstEF/.vs
/FirstEF/FirstEF/bin
/FirstEF/FirstEF/obj/Debug
/FirstEF/packages
/WebApplication/WebApplication16/obj/Release
/FirstEF/FirstEF/App_Data
